doctype html
html
  head

    title= title
  body
    h1= title
    form
        input(
            style="width: 300px; \
            padding: 20px;  \
            font-weight: bold; \
            background: lightgray; \
            color: #000; \
            border-radius: 10px; \
            border: 1px solid #999; \
            font-size: 150%;" 
            type="button" 
            value="go back"
            onclick="location.href='http://192.168.178.33:3000'"
        ) 
    p= timeInfo
    